.bread-page {
  //.button-outline-ios {
  //  width: 48%;
  //  contain: strict;
  //  background-color: orange;
  //  height: 40px;
  //}

  //ion-img.img-loaded img {
  //
  //  background-color: orange;
  //  border-image-outset: 1px;
  //  border: .5px solid transparent;
  //  padding: 1px;
  //  border-image: url(border.png) 10 round;
  //  border-color: orange;
  //  background: darkorange;
  //  border-radius: 50%;
  //}
  //.image {
  //  height: 5vw;
  //  width: 5vw;
  //  border: 2px solid #fff;
  //  border-radius: 50%;
  //  box-shadow: 0 0 5px gray;
  //  display: inline-block;
  //  margin-left: auto;
  //  margin-right: auto;
  //}
  //.item-profile {
  //  height: 150px;
  //  .item-avatar > img:first-child {
  //    max-width: 100px;
  //    max-height: 100px;
  //  }
  //}
  //
  //.circle-pic{
  //  width:50px;
  //  height:50px;
  //  -webkit-border-radius: 50%;
  //  border-radius: 50%;
  //  height: 5vw;
  //  width: 5vw;
  //  border: 2px solid #fff;
  //  border-radius: 50%;
  //  box-shadow: 0 0 5px gray;
  //  display: inline-block;
  //  margin-left: auto;
  //  margin-right: auto;
  //}
  //img {
  //  max-width: 100px;
  //  border: 0;
  //  border-radius: 50%;
  //
  //}
  //ion-icon {
  //  font-size: 35px; //Preferred size here
  //}
  //
  //ion-img {
  //  display: inline-block;
  //  min-width: 20px;
  //  min-height: 20px;
  //  background: #f53d3d00;
  //  border-radius: 50%;
  //
  //  contain: strict;
  //}
  .button-round-ios {
    border-radius: 64px;
    background-color: #e8962f;
    padding: 0 1rem;
  }

  .button-ios {
    background-color: #e8962f;
  }
   .big{
     width:10rem;
   }


}
