
<ion-header >
  <ion-navbar style="padding-bottom: 0px">
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-title align="center" style="padding-left: 10px">انتخاب نان</ion-title>-->
    <table style="width: 100%;">
      <tr>
        <th align="center" > <ion-title  style="padding-bottom: 20px" >انتخاب نان</ion-title></th>


        <th style="float: right;"> <button style="background-color: transparent;color:black;font-size: 15px;" ion-button icon-only (click)="getfactor()">
          <ion-badge *ngIf="n" style="background-color: orange;font-size: 10px;"  color="accent">{{n|num}}</ion-badge>
          <ion-icon name="basket"></ion-icon>
        </button> </th>
      </tr>
    </table>
    <div align="center" style="padding-right: 28% ">
      <div  style="    padding-bottom: 5px;font-size: larger;width:30%;border-bottom-color: #e8962f;border-bottom-style: solid"> {{cat_name}} </div>
    </div>
    <!--<hr/>-->
  </ion-navbar>

</ion-header>


  <ion-content class="bread-page" padding>

    <!--<div align="center">-->
      <!--<div  style="font-size: larger;width:30%;border-bottom-color: #e8962f;border-bottom-style: solid"> {{cat_name}} </div>-->
    <!--</div>-->


    <!--<hr/>-->

<div style="overflow-x:auto;height:85%;" >

    <table *ngFor="let entry of keys ; let i= index" style="width: 100%">

      <tr align="left">

        <td rowspan="4"  align="center" style=""><ion-img align="center" style="background-color:white; height: 100px; width: 100px;"  [src]='entry.key.pic' ></ion-img> </td>
      </tr>
      <tr>
        <!--<td  align="right"  >	&nbsp;</td>-->
        <td  align="right" style="padding-top:15px;padding-bottom:10px;width: 300px" colspan="4"> {{entry.key.title}}&nbsp;<span style="color:#e8962f;">/{{entry.key.price|num}}تومان </span>	</td>
      </tr>
      <tr >
        <td style="width:30px;"align="center">


          <ion-label>&nbsp;</ion-label>
        </td>

        <td style="width:50px;padding-bottom: 40px" align="center">
          <!--<ion-icon style="zoom:2;" name="remove-circle-outline"></ion-icon>-->

          <button [disabled]="!entry.value" style="height: 2em;width: 2em;background-color:white;color: black;padding: 0 1rem;" ion-button small (click)="decrement(i)"><ion-icon style="zoom:2;" name="remove-circle-outline"></ion-icon></button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td style="width:50px;padding-bottom: 40px" align="center">
          <!--<ion-icon style="zoom:2;" name="add-circle-outline"></ion-icon>-->

          <button  style="height: 2em;width: 2em;background-color:white;color: black;padding: 0 1rem;" ion-button small (click)="increment(i)"><ion-icon style="zoom:2;" name="add-circle-outline"></ion-icon></button>

          <!--<button style="height: 2em;width: 2em;color:#000000;background-color:#ffffff;border: solid black 1px;border-radius: 20px;padding: 0 1rem;"ion-button small  (click)="increment(i)"> <span style="zoom:3.5;padding-top:3px;font-size: 10px;">+</span> </button>-->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td style="width:50px;padding-bottom: 40px" align="center">

          <button ion-button small round style="background-color: #8a4182" > {{entry.value|num}}
          </button>
          <!--<ion-icon ios="ios-radio-button-off" md="md-radio-button-off"></ion-icon>-->
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
      </tr>

    </table>


<hr color="black">


</div>
    <div style="position: absolute; bottom: 20px; width: 90%">
      <div style="text-align: center">
         <table  align="center" width="90%">
        <tr>

          <button   ion-button class="button-ios2 big btnmine"  round navPop >لغو سفارش  </button>
          &nbsp;
          <button  ion-button class="button-ios2 big btnmine"  round (click)="book()">ثبت سفارش</button>




        </tr>
      </table>

      </div>
    </div>






</ion-content>

