<ion-header >
  <ion-navbar  >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>

    </button>

    <table style="width: 100%;">
      <tr>
        <th align="center" > <ion-title  >تماس با ما</ion-title></th>


        <th style="float: right;"> <button  style="background-color: transparent;color:black;" ion-button icon-only (click)="getfactor()">
          <ion-badge *ngIf="n" style="background-color: orange"  color="accent">{{n}}</ion-badge>
          <ion-icon  name="basket"></ion-icon>
        </button> </th>
      </tr>
    </table>

    <!--<ion-title>خانه</ion-title>-->
  </ion-navbar>

</ion-header>


<ion-content align="center" padding  style=" ;width: 100%;height: 100%">
<br/>
<br/>
<br/>
<br/>

  <img style="background: transparent"  width="70" height="70" src="assets/imgs/about.png">

  <br/>
  <br/>
  <br/>
  <br/>
  <div style="font-size: 20px">
  <p style="direction: rtl;text-align: right; display: inline-block;font-size: 24px;font-weight: 900;">تماس با ما</p>

    <p><span>09170003019</span>&nbsp;&nbsp;&nbsp;  شماره تماس
    </p>
    <p><span>info@komuch.ir</span>    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      ایمیل </p>
  </div>

</ion-content>
