<!--<ion-header>-->
  <!--<ion-navbar>-->
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-title>Home</ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->

<ion-content align="center" padding>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

  <!--<image height="" xlink:href="" width=""></image>-->
  <ion-img width="200" height="200" src="assets/imgs/logo_asli.png"></ion-img>
  <form (ngSubmit)="logForm()" novalidate [formGroup]="form">
  <ion-item>
    <!--<ion-label color="primary" >09</ion-label>-->
    <!--[(ngModel)]="logintel"-->
    <ion-input  type="tel" ([ngModel])="logintel"  formControlName="myField" placeholder="شماره تلفن همراه 09 "></ion-input>
  </ion-item>
    <div>
      <ng-container *ngFor="let validation of validation_messages.myField" >
        <div *ngIf="form.get('myField').hasError(validation.type)">

        </div>
        <button [disabled]="form.get('myField').hasError(validation.type)" class="button-ios2 btnmine" type="submit" >ارسال پیامک تایید</button>
      </ng-container>
    </div>

    <!--<button  class="button-ios2 btnmine" type="submit"   ></button>-->

  </form>

  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
