<ion-header >
  <ion-navbar>
    <!--<ion-title align="center">زمان تحویل</ion-title>-->
    <table style="width: 100%;">
      <tr>
        <th align="center" > <ion-title  >زمان تحویل</ion-title></th>


        <th style="float: right;"> <ion-icon style="zoom:1.5;color: black;padding-right: 10px" name="basket"  ></ion-icon> </th>
      </tr>
    </table>
  </ion-navbar>

</ion-header>



<ion-content padding>


</ion-content>
