<!--
  Generated template for the DatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style>
  ion-app.md [padding] .scroll-content {
    padding: 16px;

    padding-top: 0px !important;
  }
</style>
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>

    </button>

    <ion-title align="center">تاریخچه</ion-title>
    <div style="float: right;">
      <button style="background: transparent;color:black;" ion-button icon-only (click)="getfactor()">
        <ion-badge *ngIf="n" style="background-color: orange"  color="accent">{{n|num}}</ion-badge>
        <ion-icon name="basket"></ion-icon>
      </button>

      <!--<ion-icon style="zoom:1.5;color: black;padding-right: 10px" name="basket" (click)="getfactor()"  ></ion-icon>-->


    </div>
  </ion-navbar>

</ion-header>



<ion-content class="date-content" padding>

  <table style="width: 100%" dir="rtl">
    <svg id="chart" >
      <line x1="71%" y1="0%" x2="71%" y2="100%"></line>
    </svg>
    <tr *ngFor="let order of orders;" >
      <td style="width: 30%;padding: 10px;padding-right:30px;padding-bottom: 30px;position: relative;">
        <span style="font-size: 30px;font-weight: 900;">{{order.day|num}}</span>
        <br>
        <span style="color: #bdbdbd">{{order.desc_time}}</span>
        <ion-icon name="square" style="position: absolute;left: 0px; color: #ef872f;bottom: 50%;font-size: 10px;"></ion-icon>
      </td>

      <td style="width: 40%;padding-right: 10px;">
        <span *ngFor="let pr of order.products;">
        <span >{{pr.title}} / {{pr.quantity|num}} عدد</span>
        <br>
          </span>

      </td>
      <td rowspan="2" align="center" style="width: 20%;" ><span style="font-size: 11px;color: #5a56d0;">{{order.time|num}} </span><br> <span style="font-size: 11px;color: #5a56d0;">{{order.final_price|num}} تومان</span>
        </td>
    </tr>
  </table>

</ion-content>
