<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>

    </button>

    <table style="width: 100%;">
      <tr>
        <th align="center">
          <ion-title>وضعیت سفارش</ion-title>
        </th>

            <th style="float: right;"> <button style="background-color: transparent;color:black;" ion-button icon-only (click)="getfactor()">
              <ion-badge *ngIf="n" style="background-color: orange"  color="accent">{{n|num}}</ion-badge>
              <ion-icon name="basket"></ion-icon>
            </button> </th>
          </tr>


        <!--<th style="float: right;"> <button style="background-color: transparent;color:black;" ion-button icon-only (click)="getfactor()">-->
          <!--<ion-badge *ngIf="n" style="background-color: orange"  color="accent">{{n}}</ion-badge>-->
          <!--<ion-icon name="basket"></ion-icon>-->
        <!--</button> </th>-->
      <!--</tr>-->
    </table>

    <!--<ion-title>خانه</ion-title>-->
  </ion-navbar>

</ion-header>
<ion-content>

  <div dir="rtl" align="center" padding>

    <br/>
    <br/>
    <h4>بررسی وضعیت سفارش</h4>
    <br/>
    <br/>
    <table align="center" style="width: 70%">
      <th></th>
      <th></th>
      <tbody>

      <tr>
        <td align="left" style="width:10%" [ngClass]="{'style5': active[0]}" >   <ion-icon name="flower"></ion-icon></td>
        <td  style="width:40%" [ngClass]="{'style5': active[0]}" >&nbsp;تایید نان</td>
      </tr>
      <tr>
        <td ><div class="basestyle" [ngStyle]="getMyStyles(active[0])" ></div></td>
        <td>&nbsp;&nbsp;&nbsp;{{stage1|num}} عدد</td>
      </tr>
      <tr>
        <td align="left" style="width:10%"[ngClass]="{'style5': active[1]}">  <ion-icon name="clipboard-outline"></ion-icon></td>
        <td  style="width:40%" [ngClass]="{'style5': active[1]}">&nbsp;تایید فاکتور</td>
      </tr>
      <tr>
        <td><div class="basestyle" [ngStyle]="getMyStyles(active[1])"></div></td>
        <td>&nbsp;&nbsp;&nbsp;{{stage2|num}} تومان</td>
      </tr>
      <tr>
        <td align="left" style="width:10%" [ngClass]="{'style5': active[2]}" >  <ion-icon name="timer-outline"></ion-icon></td>
        <td  style="width:40%" [ngClass]="{'style5': active[2]}">&nbsp;انتخاب زمان تحویل</td>
      </tr>
      <tr>
        <td><div  [ngStyle]="{'color': active[2] ?  'orange' : 'black','border-left': '1px solid ','height': '60px'}"></div></td>
        <td>&nbsp;&nbsp;&nbsp;{{stage3|num}}</td>
      </tr>
      <tr>
        <td align="left" style="width:10%"><ion-icon name="basket"></ion-icon></td>
        <td  style="width:40%">&nbsp;پرداخت</td>
      </tr>
      </tbody>
    </table>

  </div>
</ion-content>
