page-list {

  .style5 {
    color: orange;
  }
  .style6{
    border-left: 1px solid ;height: 60px;
  }
  .basestyle{
    border-left: 1px solid ;height: 60px;
  }
  button {
    ion-badge {
      position: absolute;
      top: 1rem;
      right: 1rem;
      opacity: 0.9;

      & ~ ion-icon {
        margin-right: 1.2rem;
      }
    }
  }
}
