<!--<ion-header>-->
  <!--<ion-navbar>-->
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-title>Home</ion-title>-->
  <!--</ion-navbar>-->
<!--</ion-header>-->

<ion-content align="center" padding>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

  <!--<image height="" xlink:href="" width=""></image>-->
  <ion-img width="200" height="200" src="assets/imgs/logo_asli.png"></ion-img>
  <form (ngSubmit)="logForm()">

    <ion-item>
      <!--<ion-label color="primary" >09</ion-label>-->
      <ion-input  type="text" [(ngModel)]="loginpass" name="loginpass" placeholder="رمز پیامک "></ion-input>
    </ion-item>
    <button class="button-ios2 btnmine" type="submit" >تایید رمز</button>
    <br/>
    <button [hidden]="!setActive" class="button-ios2 btnmine" navPop="" >ارسال مجدد رمز</button>
    <p [hidden]="setActive">...لطفا منتظر پیامک حاوی کد بمانید</p>
    <p [hidden]="setActive">ثانیه {{countDown | async|num}}</p>
  </form>

  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
