page-home {
  .button-ios2 {
    border-radius: 30px;
    height: 2.8em;
    width: 10em;
    font-size: 1.6rem;
    color: #fff;
    background-color: #e8962f;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
  }
  ion-img.img-loaded img {
    display: block;
    background-color: white;
  }
  input{
    text-align:center;
  }
}
