
<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title align="center">فاکتور</ion-title>
  </ion-navbar>
</ion-header>

<ion-content align="center" padding>



  <div style="background-color: white">
  <ion-img width="300" height="75" src="assets/imgs/logo_factor.png"></ion-img>
  </div>

  <div  style="text-align: left;overflow-x:auto;height:60%;" >
    <hr style="color:#000000;width:70%;border-width: 1px;" >
  <table *ngFor="let entry of keys ; let i= index" style="width:100%" >
<br>
<br>
  <tr>
    <th>  <ion-icon name="trash" (click)="presentConfirm(entry.key.id)"></ion-icon></th>
    <th style="width:20%" align="center">{{entry.key.total_price|num}}</th>
    <th style="width:30%" align="center">{{entry.key.quantity|num}}</th>
    <th style="width:30%" align="right">{{entry.key.title|num}}</th>

  </tr>
  </table>
  </div>
  <div>
  <table style="width:100%" *ngFor="let entry of result ; let i= index">
    <tr >
      <th align="left" >{{entry.key.shipping_price|num}}</th>
      <th colspan="2" style="text-align: center;">دارد</th>

      <th align="right" style="width:110px">هزینه ارسال</th>
      </tr>
  </table>
    <hr style="width:90%;border-width: 1px;"/>
    <table style="width:100%" *ngFor="let entry of result ; let i= index">
      <tr>
        <th align="left" style="color: orange" >{{entry.key.final_price|num}}</th>
        <th style="color: orange;text-align: center;">{{total|num}}</th>

        <th align="right"style="color: orange;width:140px">جمع</th>
      </tr>


    </table>

  </div>


  <button ion-button style="width: 80%;" class="button-ios2 btnmine" (click)="next()"> مرحله بعد </button>


</ion-content>
