page-home {
  //.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  //  border-width: 0 0 0.55px;
  //  background-color: white;
  //  border-color: white;
  //}
  //
  //.button-ios {
  //  background-color: #e8962f;
  //}
  #grad {
    background : linear-gradient(to bottom right, red, yellow) !important;
  }
  button {
    ion-badge {
      position: absolute;
      top: 1rem;
      right: 1rem;
      opacity: 0.9;

      & ~ ion-icon {
        margin-right: 1.2rem;
      }
    }
  }
}
