<ion-header no-border>
  <ion-navbar color="pure"   >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>

    </button>
    <div style="float: right;">
      <button style="background-color: white;color:black;font-size: 15px;" ion-button icon-only (click)="getfactor()">
        <ion-badge *ngIf="n" style="background-color: orange;font-size: 10px;"  color="accent">{{n|num}}</ion-badge>
        <ion-icon name="basket"></ion-icon>
      </button>

      <!--<ion-icon style="zoom:1.5;color: black;padding-right: 10px" name="basket" (click)="getfactor()"  ></ion-icon>-->


    </div>
    <!--<ion-title>خانه</ion-title>-->
  </ion-navbar>

</ion-header>

<ion-content align="center"  padding>
  <div style="align-content: center">



  <br/>
  <br/>
  <br/>

  <!--<image height="" xlink:href="" width=""></image>-->
  <ion-img width="250" height="250" src="assets/imgs/logo_asli.png"></ion-img>
    <br/>

  <button ion-button (click)="test()" class="button-ios2 btnmine" style="width: 80%;"  >سفارش جدید</button>

  </div>

  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
