<ion-header >
  <ion-navbar  >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>

    </button>

    <table style="width: 100%;">
      <tr>
        <th align="center" > <ion-title  >روش پرداخت</ion-title></th>


        <th style="float: right;"> <button style="background-color: transparent;color:black;" ion-button icon-only (click)="getfactor()">
          <ion-badge *ngIf="n" style="background-color: orange"  color="accent">{{n|num}}</ion-badge>
          <ion-icon name="basket"></ion-icon>
        </button> </th>
      </tr>
    </table>

    <!--<ion-title>خانه</ion-title>-->
  </ion-navbar>

</ion-header>
<ion-content   >
  <div align="center"  style=" ;width: 100%;height: 100%">

      <br/>


      <h6 >   <span style="direction: rtl;text-align: right; display: inline-block;font-size: 24px;font-weight: 900;"><span>{{finalprice|num}}</span> <span>تومان</span></span> <br/>   <br/>مبلغ قابل پرداخت </h6>
      <br/>

      <!--<image height="" xlink:href="" width=""></image>-->

    <!--<div [style.visibility]="isHidden">-->

      <!--<table style="width: 100%">-->
        <!--<tr>-->
          <!--<td style="width: 25%"></td>-->
          <!--<td style="width: 25%"><button  ion-button  (click)="getDiscount()">ثبت کد</button></td>-->
          <!--<td align="center" style="width: 25%"><ion-item style="padding-right: 5px"> <ion-input [(ngModel)]="input"></ion-input></ion-item></td>-->
          <!--<td  align="center" style="width: 25%;" >:کدتخفیف </td>-->
        <!--</tr>-->
      <!--</table>-->
    <!--</div>-->

    <div dir="rtl" [style.visibility]="isVisible">
    <ion-item style="border-color: white" >


      <!--<ion-label style="font-size: 14px" (click)="setDiscount()"><ion-icon name="square-outline">  کد تخفیف دارم. </ion-icon>-->
      <!--</ion-label>-->
      <table style="width: 100%">
      <tr >
      <td style="width: 10%"><ion-icon name="card" style="padding-right: 5px"></ion-icon><span style="display: inline-block;padding-right: 5px;">کد تخفیف داری؟</span> </td>
      <td  style="width: 35%;" >  </td>
      <td style="width: 25%"></td>
      <td style="width: 25%">
        <button *ngIf="!used_discount" (click)="setDiscount()"  ion-button style="background-color:white;color:orange; padding: 15px;" >
          <ion-icon name="add-circle"></ion-icon>
          <!--<ion-icon *ngIf="used_discount" name="checkbox"></ion-icon>-->
        </button>
        <button *ngIf="used_discount"  ion-button style="background-color:white;color:green; padding: 15px;" >
          <ion-icon  name="checkbox"></ion-icon>
        </button>
      </tr>

        <!--<tr >-->
          <!--<td style="width: 10%">کد تخفیف داری!</td>-->
          <!--<td  style="width: 35%;" >  </td>-->
          <!--<td style="width: 25%"></td>-->
          <!--<td style="width: 25%">-->
            <!--<button *ngIf="!used_discount"  ion-button style="background-color:white;color:orange; padding: 15px;" >-->
              <!--<ion-icon name="add-circle"></ion-icon>-->
              <!--<ion-icon *ngIf="used_discount" name="checkbox"></ion-icon>-->
            <!--</button>-->
            <!--<button *ngIf="!used_discount"  ion-button style="background-color:white;color:green; padding: 15px;" >-->
              <!--<ion-icon  name="checkbox"></ion-icon>-->
            <!--</button>-->
          <!--</td>-->

        <!--</tr>-->

      </table>
    </ion-item>
    </div>

      <!--<br/>-->

      <ion-list  dir="rtl" radio-group [(ngModel)]="relationship">
        <!--<table style="width: 100%">-->
          <!--<tr>-->
            <!--<td style="width: 10%"></td>-->
            <!--<td  style="width: 35%;" > اعتبار من {{credi}} تومان </td>-->
            <!--<td style="width: 25%"></td>-->
            <!--<td style="width: 25%"><button  ion-button style="background-color:white;color:orange; padding: 15px;" (click)="getwallet()">  <ion-icon name="add-circle"></ion-icon></button></td>-->

          <!--</tr>-->
        <!--</table>-->

    <ion-item class="item-wallet">

      <ion-label> کیف پول من</ion-label>
      <ion-radio [value]="1" (ionSelect)="sel='credit';"></ion-radio>
      <br/>


    </ion-item>
        <ion-item  >
          <table style="width: 100%">
            <tr style="font-size: 12px !important;">
              <td style="width: 10%"></td>
              <td  style="width: 35%;" > اعتبار من {{credi}} تومان </td>
              <td style="width: 25%"></td>
              <td style="width: 25%"><button  ion-button style="background-color:white;color:orange; padding: 15px;" (click)="getwallet()">  <ion-icon name="add-circle"></ion-icon></button></td>

            </tr>
          </table>



        </ion-item>



    <ion-item >
      <ion-label>پرداخت آنلاین</ion-label>
      <ion-radio [value]="2" (ionSelect)="sel='saman';"></ion-radio>
    </ion-item>
        <ion-item >
          <ion-label>پرداخت نقدی</ion-label>
          <ion-radio [value]="3" (ionSelect)="sel='inplace';"></ion-radio>
        </ion-item>

      </ion-list>
    <!--<ion-item style="border-color: white" >-->


      <!--&lt;!&ndash;<ion-label style="font-size: 14px" (click)="setDiscount()"><ion-icon name="square-outline">  کد تخفیف دارم. </ion-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-label>&ndash;&gt;-->
      <!--<table style="width: 100%">-->
        <!--<tr >-->
          <!--<td style="width: 10%"><ion-icon name="card" style="padding-right: 5px"></ion-icon><span style="display: inline-block;padding-right: 5px;">{{msg_param.msg}}</span> </td>-->
          <!--&lt;!&ndash;<td  style="width: 35%;" >  </td>&ndash;&gt;-->
          <!--&lt;!&ndash;<td style="width: 25%"></td>&ndash;&gt;-->
          <!--&lt;!&ndash;<td style="width: 25%">&ndash;&gt;-->
        <!--</tr>-->

      <!--</table>-->
    <!--</ion-item>-->
    <div style="text-align: justify;direction: rtl;padding: 20px;"><ion-icon name="notifications-outline" style="padding-right: 5px;color: #ea5829;"></ion-icon>&nbsp;&nbsp;<span>{{msg_param.msg}}</span></div>

      <button ion-button round (click)="gToPay()" class="button-ios3 " style="width:80%;background-color: #8269ca"   >بفرست بیاد</button>
  </div>
  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
