page-home {
  //.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  //  border-width: 0 0 0.55px;
  //  background-color: white;
  //  border-color: white;
  //}
  //
  //.button-ios {
  //  background-color: #e8962f;
  //}

}
