
<ion-content   >
  <div align="center"  style=" width: 100%;height: 100%">

      <br/>
      <br/>
      <br/>
      <br/>

      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

      <!--<image height="" xlink:href="" width=""></image>-->
      <ion-img style="background-color:darkorange;" width="250" height="250" src="assets/imgs/logo_asli.png"></ion-img>
      <br/>

      <button ion-button class="btnmine" (click)="retHome()" round  >خانه</button>

    </div>

  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
