// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  pure:       #ffffff,
  komuch:     #e8962f,
  myColor:    #8269ca,
);

//$menu-width: 20px;
$menu-ios-background: myColor;
$menu-md-background: myColor;
$menu-wp-background: myColor;

$SIDEMENU_TOP: #A23C4B;
$SIDEMENU_BOTTOM: #ff9068;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);


.side-menu-gradient{
  background: -webkit-gradient(left top, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: -o-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: linear-gradient(to bottom right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
}

.btnmine {
  //background-color: #e8962f;
  background: linear-gradient(to bottom right, orangered, orange) !important;
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here






// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
$font-family-md-base: "IRANSansMobile" ,sans-serif !default;
$font-family-ios-base: "IRANSansMobile", sans-serif !default;
$font-family-wp-base: "IRANSansMobile", sans-serif !default;

.alert-ios .alert-radio-group, .alert-ios .alert-checkbox-group{
  direction: rtl !important;
}
.alert-title img {
  margin-left: 10px;
  vertical-align: -4px;
}
.button-ios3{
  background-color:  #8269ca !important;
}

.item-wallet .item-inner{
  border: none !important;
}
.date-content .scroll-content{
  padding-top: 0px !important;
  padding: 0px !important;
}

svg#chart {
  //background: lightgray;
  position: fixed;
  opacity: 9999;
  height: 100%;
  width: 100%;
}
#chart line {stroke: #d4d4d4; stroke-width:1}
.menu-border .item-inner ,.signout-btn{
  border-bottom: none !important;
}
.menu-app ion-icon{
  vertical-align: -4px;
}
#cart-btn {
  position: relative;
}

#cart-badge {
  position: absolute;
  top: 0px;
  right: 0px;
}

$toast-width: 100%;
