// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//.toolbar-ios {
//  padding: 4px;
//  padding-left: 4px;
//  padding-right: 4px;
//  min-height: 200px;
//}

.header-ios .toolbar-ios:last-child .toolbar-background-ios {
  //border-width: 0 0 0.55px;
  //background-color: white;
  //border-color: white;
}

@font-face {
  font-family: 'IRANSansMobile' ;
  src: url('../assets/fonts/IRANSansMobile.ttf') format('truetype');

}

//.menu-inner {
//  .content {
//    background: none;
//  }
//
//  .item {
//    background: none;
//  }
//}
