<ion-menu  [content]="content">
  <ion-header >
    <ion-toolbar align="center" color="myColor">
      <ion-title style="font-size: 10px" >{{firstname}} {{lastname}}<br/>{{mobile|num}}</ion-title>
      <br/>
      <br/>


      <img menuClose  (click)="openPage(pages[7])" style="background: transparent"  width="70" height="70" src="assets/imgs/avatar.png">

      <br/>
      <br/>




    </ion-toolbar>
  </ion-header>

  <ion-content>

    <!--*ngFor="let p of pages"-->
    <ion-list class="menu-app">


      <button class="menu-border" menuClose ion-item  (click)="openPage(pages[0])">
        <ion-icon style="zoom:1.3" name="home"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {{pages[0].title}}
      </button>
      <button class="menu-border" menuClose ion-item  (click)="openPage(pages[4])">
        <ion-icon style="zoom:1.3" name="timer"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;
        تاریخچه سفارش ها
      </button>
      <button class="menu-border" menuClose ion-item  (click)="openPage(pages[1])">
        <ion-icon style="zoom:1.3" name="chatboxes"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {{pages[1].title}}
      </button>

      <button  menuClose ion-item  (click)="openPage(pages[2])">
        <ion-icon style="zoom:1.3" name="cash"></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {{pages[2].title}}
      </button>

      <button class="menu-border"  menuClose ion-item  (click)="openPage(pages[5])">
        {{pages[5].title}}
      </button>
      <button class="menu-border" menuClose ion-item  (click)="openPage(pages[6])">
        {{pages[6].title}}
      </button>
      <button class="menu-border signout-btn" menuClose ion-item  (click)="signOut()">
        خروج از حساب
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
