<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>

    </button>

    <table style="width: 100%;">
      <tr>
        <th align="center">
          <ion-title>آدرس</ion-title>
        </th>


        <th style="float: right;"> <button style="background-color: transparent;color:black;" ion-button icon-only (click)="getfactor()">
          <ion-badge *ngIf="n" style="background-color: orange"  color="accent">{{n|num}}</ion-badge>
          <ion-icon name="basket"></ion-icon>
        </button> </th>
      </tr>
    </table>

    <!--<ion-title>خانه</ion-title>-->
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div dir="rtl" style="float: right;width: 100%;">

    <ion-item>

      <ion-label floating>
        <ion-icon name="person"></ion-icon>
        نام
      </ion-label>
      <ion-input [(ngModel)]="first_name"></ion-input>
    </ion-item>

    <ion-item>

      <ion-label floating>
        <ion-icon name="person"></ion-icon>
        نام خانوادگی
      </ion-label>
      <ion-input [(ngModel)]="last_name"></ion-input>
    </ion-item>
    <br/>

    <!--<table style="width: 100%;">-->
      <!--<th style="width: 90%;float: right;">-->
        <!--<h4>{{gcode}}</h4></th>-->
      <!--&lt;!&ndash;<ion-icon  name="compass"></ion-icon>&ndash;&gt;-->
      <!--<th style="">-->
        <!--<ion-icon style="float: left;zoom:2.0;color: darkorange;" (click)="goToMap()" name="locate"></ion-icon>-->
      <!--</th>-->
    <!--</table>-->
    <!--<button ion-button  class="button-ios2" [navPush]="map" >نقشه</button>-->

    <ion-item style="float: left">
      <ion-label floating>
        <ion-icon name="navigate"></ion-icon>
        آدرس جدید
      </ion-label>
      <ion-input [(ngModel)]="input"></ion-input>
    </ion-item>

    <br/>
    <br/>
    <br/>


  </div>
  <div dir="rtl" style="padding-top: 20px;">
    <ion-list radio-group [(ngModel)]="relationship">
      <ion-item *ngFor="let entry of keys ;">
        <ion-label>{{entry.key|num}}</ion-label>
        <ion-radio [value]="entry" (ionSelect)="select(entry)"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
  <br/>
  <br/>
  <div align="center">
    <button ion-button style="width: 80%;" class="button-ios2 btnmine" (click)="goToLast()">پرداخت</button>
  </div>

  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
