<style>
  .btn-active {
    background: linear-gradient(to bottom right, orangered, orange) !important;
    border: none !important;
    color: #ffffff;
  }


.content{
  background-image: url('assets/imgs/BG_Gift.png');
  background-size: cover;
  background-position: center center;
}


  .item-ios {
     padding-left: 0px;
  }
</style>
<ion-header >
  <ion-navbar [hideBackButton] = 'success_discount_code'>
    <ion-title align="center">کد تخفیف</ion-title>

  </ion-navbar >

</ion-header>



<ion-content >











  <div dir="rtl" align="center" style="position: relative">

    <img  width="50%" src="assets/imgs/Gift-PNG.png" alt="">

    <span *ngIf="success_discount_code" style="position: absolute;bottom: 26%;left: 42%;"> {{full_price+" تومان "|num}}  </span>

  </div>

  <div dir="rtl" style="padding-top: 20px;text-align: center;">
    <div style="width: 70%;margin: auto;">
      <span *ngIf="success_discount_code">کد تخفیف شما به درستی ارسال گردید.<br>  پس از تایید تخفیف اعمال می گردد.</span>
    <ion-item dir="rtl" *ngIf="!success_discount_code">
      <!--<ion-label color="primary" stacked>Stacked Label</ion-label>-->
      <ion-input [(ngModel)]="input" dir="rtl" type="text" placeholder="کد خود را وارد کنید!"></ion-input>
    </ion-item>
    </div>
  </div>

  <div style="margin-top: 20px;padding-top: 50px;text-align: center;">
    <div style="width: 70%;margin: auto;">
    <button *ngIf="!success_discount_code" ion-button round (click)="sendCode()" class="button-ios3 button-purp" style="width:100%;background-color: #8269ca;border-radius: 50px;"   >ارسال</button>
      <button *ngIf="success_discount_code" ion-button round (click)="verify()" class="button-ios3 button-purp" style="width:100%;background-color: #8269ca;border-radius: 50px;"   >تایید</button>

    </div>
  </div>

</ion-content>
