page-home {
  //.1 {
  //background-color: white;
  //border: none;
  //color: black;
  //padding: 16px 50px;
  //text-align: center;
  //font-size: 16px;
  //margin: 4px 2px;
  //border-radius: 120px;
  //}
  //
  //ion-app.ios [padding] {
  //  padding: 50px;
  //}
  //.button-outline-ios {
  //  width: 45%;
  //  contain: strict;
  //  background-color: transparent;
  //  height: 50px;
  //
  //}
  //.button-outline-ios-dark.activated
  //{
  //background-color: darkorange;
  //  color: #black;
  //
  //}
  //page-home .button-outline-ios {
  //  padding: 100px;
  //  background-color: transparent;
  //}
  //.button-block
  //{
  //  border-bottom-color: orange;
  //  display: block;
  //  clear: both;
  //  width: 100%;
  //  contain: strict;
  //  color: #black;
  //  background-color: darkorange;
  //}
  .one{
    width:50%;
    background-color: white;
    font-size:15px;
  }

  .two{
    font-size:20px;
  }

  .style1 {
    background-color: darkorange;
    ckground: linear-gradient(to bottom right, orangered, orange) ;
    color:white;

  }


  .style2 {
    width:30%;
  }

}
