<style>
  .btn-active {
    background: linear-gradient(to bottom right, orangered, orange) !important;
    border: none !important;
    color: #ffffff;
  }



</style>
<ion-header >
  <ion-navbar>
    <!--<ion-title align="center">زمان تحویل</ion-title>-->
    <table style="width: 100%;">
      <tr>
        <th align="center" > <ion-title  >زمان تحویل</ion-title></th>


        <th style="float: right;"> <button style="background-color: transparent;color:black;" ion-button icon-only (click)="getfactor()">
          <ion-badge *ngIf="n" style="background-color: orange"  color="accent">{{n|num}}</ion-badge>
          <ion-icon name="basket"></ion-icon>
        </button> </th>
      </tr>
    </table>
  </ion-navbar>

</ion-header>



<ion-content  align="center">



  <div padding dir="rtl">
    <p class="time-title" style="padding-right: 20px;"><ion-icon style="color: #ea5829" name="notifications-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp; {{msg_title}} &nbsp;&nbsp;&nbsp;&nbsp;</p>
    <hr style="color:#000000;width:90%;border-width: 1px;">
  </div>







<div dir="rtl" align="center">

  <!--<table width="100%">-->
  <!--<tr>-->
  <!--<th align="center" >فردا -{{ param2 ['days']['tomorrow']}} </th>-->

  <!--<th align="center" >امروز -{{ param2 ['days']['today']}} </th>-->

  <!--</tr>-->
  <!--</table>-->

<br>
<div>
<br>
  <span class="two">امروز - {{factors.days.today|num}}</span>
  <br>
  <br>
  <button class="one" [disabled]="false" name="4"   ion-button [ngClass]="factors.days.today_active ? 'btn-active' : ''" (click)="setActive(0)" color="dark"  round outline> {{factors.days.today_title|num}}  </button>

  <br>
  <br>
  <br>
  <span class="two">فردا - {{factors.days.tomorrow|num}}</span>
  <br>
  <br>
  <button class="one"  name="4"   ion-button [ngClass]="factors.days.tomorrow_active ? 'btn-active' : ''" (click)="setActive(1)" color="dark"  round outline>{{factors.days.tomorrow_title|num}} </button>

</div>
  <br>
  <br>
  <br>
  <button  name="8" ion-button  class="button-ios2 btnmine" style="width:80%" (click)="goToAddr()">آدرس</button>
  <!--<button   padding ion-button    block round outline>آدرس</button>-->
  <br>

  <br>

</div>


</ion-content>
