<ion-header >
  <ion-navbar  >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>

    </button>

    <table style="width: 100%;">
      <tr>
        <th align="center" > <ion-title  >کیف پول</ion-title></th>


        <th style="float: right;"> <button style="background-color: transparent;color:black;" ion-button icon-only (click)="getfactor()">
          <ion-badge *ngIf="n" style="background-color: orange"  color="accent">{{n|num}}</ion-badge>
          <ion-icon name="basket"></ion-icon>
        </button> </th>
      </tr>
    </table>

    <!--<ion-title>خانه</ion-title>-->
  </ion-navbar>

</ion-header>
<ion-content   >
  <div dir="rtl" align="center"  style=" ;width: 100%;height: 100%">

      <!--<br/>-->
      <!--<br/>-->
      <!--<br/>-->
      <!--<br/>-->

      <br/>


      <!--<image height="" xlink:href="" width=""></image>-->
      <ion-img style="background-color:darkorange;" width="200" height="200" src="assets/imgs/business.png"></ion-img>
      <br/>
    <div align="center">اعتبار فعلی شما <h5>{{credit|num}}تومان</h5></div>
      <br/>
      
    <div align="center">       چقدر اعتبار می خوای </div>
    <ion-item dir="rtl">

      <ion-label floating>
        تومان
      </ion-label>
      <ion-input [(ngModel)]="inp"> </ion-input>
    </ion-item>

    <!--<button ion-button class="button-ios2" (click)="exitApp()"   >خروج</button>-->
    <button ion-button style="width: 80%;" class="button-ios2 btnmine" (click)="getcredi()">افزایش اعتبار</button>

    </div>



  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
